*{
    margin: 0;
    padding: 0;
}
body {
    max-width: 100%;
    overflow-x: hidden !important;
    font-family: 'Roboto', sans-serif;  
}
/* NAVBAR  */
.rowDeNavbar {
    margin: 0;
    padding: 0;
    width: 100vw;
}
.nav-link {
    color: #7F7680;
    font-size: 1.2em;
}
.nav-link:hover  {
    color: #836686 !important;
    font-weight: 700;
    text-decoration: underline;
}
.nav-link:focus{
    color: #836686 !important;
    font-weight: 700;
    text-decoration: underline;
}

.nav-link.active {
    text-decoration: underline;
}

.navbar{
    /* height: 9.1875em; */
    height: 7.4em;
/*     width: 100vw; */
}

.navbar-brand {
    color: black;
    font-weight: 800;
    font-size: 1.5em;
    /* margin-left: 2.7em; */
    margin-left: 7em;
}

.navbar-nav{
    margin-right: 7.95em;
}
.navbar-nav a {
    margin-right: 3em;
}
.container-fluid{
    margin: 0;
    padding: 0;
    width: 100vw;
}

/*FIN NAVBAR*/

/*PAGINA INICIO*/
                /*BANNER*/
.sloganBanner{
    font-weight: 600;
    /* font-size: 4em; */
    font-size: 3.2em;
    /* position: absolute; left: 0.8em; top: 3.5625em; */
    position: absolute; left: 2.1em; top: 3.7em;
    width: 80%;
    z-index: 1;
}
.subTitulobanner{
    font-size: 1.9em;
    z-index: 1;
    position: absolute; left: 3.6em; top: 9.2em;
    width: 90%;
}
.banner{
    z-index: -1;
    height: auto;
    /* opacity: 0.7; */
    opacity: 0.73;
    box-sizing: border-box;
    /* width: 100vw; */
    width: 100%;
    padding: 0;
}
.banner2{
    z-index: -1;
    width: 100%;
    height: auto;
    opacity: 0.7;
    display: none;
    padding: 0;
}
.btnBanner {
    /* width: 13.5em;
    height: 3.05em; */
    width: 10em;
    height: 2.4em;
    position: absolute; left: 6.9em; top: 20.5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 1.125em;
    margin-top: 3.7em;
    margin-bottom: 2.3em;
    background-color: #FFF1C3;
    justify-content: center;
    align-items: center;
}
        /** CAROUSEL  **/
.tituloCarrusel {
    font-weight: 900;
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 0em;
    width: 98%;
    padding-right:0 ;
    padding-left: 0;
    padding-top: 1.3em;
}
.boxCarrusel {
    height: 40em;
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
}

.carousel.slide{
    width: 85vw;
}
.card-title{
    text-align: center;
}
.losMasVendidosMovil {
    display: none;
}
        /**PROCESO DE COMPRA  **/
.circuloWhatsapp {
    width: 4.8em;
    height: 4.8em;
    border-radius: 50%;
    background-color: #66DB72;
    position: sticky; top: 55%; left: 92%;
    z-index: 3; /*sin esto pasa detras de las img con pos absolute  */
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.circulo {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: #D0B8D2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.iconoInformacion {
    width: 4.5em;
    height: 4.55em;
}
.boxProcesoDeCompra {
    background-color: #FAEEF8;
    padding-top: 5.7em;
    width: 100%;
}
.iconoWhastapp{
    width: 2.7em;
    height: 2.7em;

}
.descripcionProceso{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 3em;
    padding-right: 3em;
}
.boxEtapaCompra{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /* width: 25%; */
}
.boxEtapaCompra h6{
    font-size: 1.5em;
    font-weight: 900;
    margin-top: 1em;
}
.boxEtapaCompra p {
    width: 75%;
    text-align: center;
    font-size: 1.125em;
}
.tituloProcesoCompra{
    font-size: 2.2em;
    font-weight: 900;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 1.5em;
}
    /** CATALOGO DE INICIO   **/
.boxCatalogoHome {
    width: 100%;
}
.boxCatalogoHome p {
    text-align: center;
    font-size: 2.2em;
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-weight: 900;
}
.boxItemsCatalogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.itemCatalogoHome {
    width: 26.3em;
    /* height: 25em; */
    height: auto;
   /*max-width: 25em;
   min-width: 15em; */
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}
.card {
    border-color: transparent;
}
.fondoCatalogo1 {
    background-image: url("../images/catalogo1.jpg");
    width: 25em;
    height: 25em;
}
.imgCatalogoHome{
    /* max-width: 25em;
    min-width: 15em; */
    /* no height: 25em; */
    max-width: 100%;
    height: auto;
    z-index: -1;
}
.itemCatalogoHome p {
    font-size: 1.2em;
    margin-top: 0.5em;
}
.btnItemCatalogoHome{
    width: 10em;
    height: 2.4em;
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 1.125em;
    background-color: #D0B8D2;
    justify-content: center;
    align-items: center;
    margin-top: 1.9em;
    position: absolute; bottom: 4.9em; 
    /*centrado con align-self*/
    z-index: 2;
}
.btnBoxCatalogoHome {
    width: 13.5em;
    height: 3.43em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 1.125em;
    margin-top: 3em;
    margin-bottom: 2.3em;
    background-color: #FFF1C3;
    justify-content: center;
    align-items: center;
}
    /*** REDES ***/
.boxRedes{
    background-color: #FAEEF8;    
    width:100vw;
    margin: 0;
}
.imgBoxRedes{
    width: 20em;
}
.boxRedes h6 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 1.5em;
}
.boxRedes p {
    text-align: center;
    font-size: 1.8em;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}
.boxItemsRedes {
    width: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 8em;
    padding: 0;
    padding-left: 7em;
    padding-right: 7em;
    margin-left: 0;
    margin-right: 0;
}
.itemRedes {

    /* width: 20%;
    min-width: 12em; */

}

/***PAGINA NOSOTROS  ***/
.btnNosotros{
    width: 10em;
    height: 2.4em;
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 1.125em;
    margin-top: 2em;
    margin-bottom: 2.3em;
    background-color: #FFF1C3;
    justify-content: center;
    align-items: center;
}

.filaSuperiorNosotros {
    display: flex;
    flex-direction: row;
    margin-top: 8em;
    margin-bottom: 5em;
}
.boxTextoNos1{
    padding-left: 6.88em;
    padding-right: 3em;
    font-size: 1.1em;
}
.tituloNos {
    font-size: 2.2em;
    font-weight: bold;
}
.filaSuperiorNosotros .col-6 {
    width: 50%;
}
.imgNosotros {
    width: 40em;
}
.nosotrosNegrita {
    font-weight: bold;
}
.filaInferiorNosotros {
    display: flex;
    flex-direction: row;
    padding-bottom: 7.5em;
    padding-top: 4.1em;
    background-color:#FBF6F2;

}
.filaInferiorNosotros .col-6 {
    width: 50%;
}
.boxImgNosotros2 {
    padding-left: 6.88em;
    width: 50%;
}
.boxTextoNos2 {
    padding-right: 6.9em;
    padding-left: 6em;
    font-size: 1.1em;
}
.parrafoBoxTextoNos2{
    padding-top: 2.5em;
}
.btnNosotros2{
    width: 10em;
    height: 2.4em;
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 1.125em;
    background-color: #FFF1C3;
    justify-content: center;
    align-items: center;
    margin-top: 1.9em;
}
.pruebaFlexBox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
/* .uno {
    display: flex;
}
.dos {
    display: flex;
} */

/** MEDIAQUERIES  **/
@media (min-width: 577) and (max-width:1920) {
    .banner2 {
        display: none;
    }
    .banner{
        display: block;
    }
}
@media (min-width: 0px) and (max-width: 576px)  {
    .body {
        overflow: hidden !important;
    }
    .navbar{
        height: 4em;
    }
    .navbar-brand {
        margin-left: 0;
    }
    .banner2{
        display: block;
    }
    .banner{
        display: none;
    }
    .sloganBanner{
        font-weight: 600;
        font-size: 1.9em;
        position: absolute; left: 0.4em; top: 3em;
        z-index: 1;
        padding-left: 0;
        width: 90%;
    }
    .subTitulobanner{
        font-size: 1.1em;
        z-index: 1;
        position: absolute; left: 0.2em; top: 8.4em;
        width: 97%;
        padding-right: 0;
    }
    .btnBanner {
        /* width: 13.5em;
        height: 3.05em; */
        width: 9em;
        height: 2em;
        position: absolute; left: 1.15em; top: 12.4em;
        align-self: center;
        font-size: 1em;
        margin-top: 0em;
        margin-bottom: 0em; 
    }
    .losMasVendidosMovil {
        display: block;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    .boxCarrusel {
        display: none;
    }
    .losMasVendidos__titulo{ 
        font-size: 1.5em;
        padding-top: 1.5em;
    }
    .circulo {
        width: 8em;
        height: 8em;
        border-radius: 50%;
        background-color: rgb(248, 253, 252);
        /* background-color: #F0D0F0; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .circuloWhatsapp {
        width: 4em;
        height: 4em;
        position: sticky; top: 55%;
        margin: 0;
        padding: 0;
    }
    .iconoInformacion {
        width: 4em;
        height: 4em;
    }
    /* .boxEtapaCompra{
        width: 50%;
    } */
    /* .imgBoxRedes{
        width: 15em
    } */
    .itemCatalogoHome {
        margin-bottom: 3em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    .boxRedes {
        width: 100%;
    }
    .boxItemsRedes {
        padding-left: 2em;
        padding-right: 2em;
        
    }
    .boxRedes h6 {
        font-size: 1.8em;
        margin-top: 1.5em;
    }
    .boxRedes p {
        font-size: 1.5em;
        margin-top: 0.3em;
        margin-bottom: 0.6em;
    }
    .itemRedes {
        /* width: 50%;
        height: auto; */
        margin-top: 0.4em;
        padding-left: 0.2em;
        padding-right: 0.2em;

    }
    .navbar-collapse {
        background-color: #FBF6F2;
        width: 40%;
        z-index: 2;
    }
    /**nosotros  **/
    .row.filaSuperiorNosotros {
        --bs-gutter-x: 0rem;
    }
    .filaSuperiorNosotros {
        
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 3em;
        margin-bottom: 2em;
    }
    .boxTextoNos1{
        width: 100vw;
        padding-left: 2em;
        padding-right: 2em;
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
    }
    .tituloNos {
        font-size: 1.5em;
        padding-top: 1em;
    }
    .card {
        display: flex;
    }
    .boxImgNosotros1 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .boxImgNosotros2 {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .imgNosotros {
        /* width: 100vw; */
        width: 20em;
        display: flex;
        flex-direction: row;
        /* align-self: center;
        padding-left: auto;
        padding-right: auto; */
    }
    .boxTextoNos2{
        /* width: 100vw; */
        padding-left: 2em;
        padding-right: 2em;
        font-size: 1.1em;
    }
    .parrafoBoxTextoNos2{
        width: 100%;
        height: auto;
        padding-left: 0em;
        padding-right: 0em;
        padding-top: 1em;
    }
    .btnNosotros {
        width: 9em;
        height: 2em;
        font-size: 1em;
        margin-top: 2em;
        margin-bottom: 0.5em;
    }
    .btnNosotros2 {
        width: 9em;
        height: 2em;
        font-size: 1em;
        margin-top: 2em;
        margin-bottom: 0.5em;
    }
    .pruebaFlexbox {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .uno {
        display: flex;
    }
    .dos {
        display: flex;
    }
}