/** MEDIAQUERIES  **/

@media screen and (min-width:992px) and (max-width:1199.98px) {
    .navbar-brand {
        font-size: 1.5em;
        margin-left: 4.5em
    }
    .navbar-nav{
        /* margin-right: 6.95em; */
        margin-right: 4.95em
    }
    .nav-link a{
        font-size: 1.05em;
    }
    .sloganBanner{
        font-size: 2.9em;
        position: absolute; left: 1.2em; top: 3em;
        padding-left: 0;
    }
    .subTitulobanner{
        font-size: 1.8em;
        position: absolute; left: 1.6em; top: 8.3em;
        width: 97%;
        padding-right: 0;
    }
    .btnBanner {
        width: 9em;
        height: 2em;
        position: absolute; left: 3.5em; top: 21em;
        font-size: 1em;
        margin-top: 0em;
        margin-bottom: 0em; 
    }
    .navbar-nav a {
        margin-right: 0.65em;
    }
}

@media (min-width: 768px) and (max-width:991.98px) {
    .banner2 {
        display: none
    }
    .banner{
        display: block
    }
    .navbar-brand {
        font-size: 1.5em;
        margin-left: 2.5em
    }
    .nav-link a {
        font-size: 1.1em;
    }
    .navbar-nav a {
        margin-right: 0.6em;
    }
    
    .navbar-nav{
        margin-right: 2.95em;
    }
    .sloganBanner{
        font-size: 2.1em;
        position: absolute; left: 1.2em; top: 4.5em;
        padding-left: 0;
        width: 90%;
    }
    .subTitulobanner{
        font-size: 1.25em;
        position: absolute; left: 1.45em; top: 11.4em;
        width: 97%;
        padding-right: 0;
    }
    .btnBanner {
        width: 9em;
        height: 2em;
        position: absolute; left: 2.4em; top: 18.5em;
        font-size: 1em;
        margin-top: 0em;
        margin-bottom: 0em; 
    }
    .circuloWhatsapp {
        position: sticky;
        top: 55%;
        left: 85%; 
    }
}

@media (min-width:577px) and (max-width:767.98px) {
    .banner2 {
        display: none
    }
    .banner{
        display: block
    }
    .sloganBanner{
        font-size: 1.95em;
        position: absolute; left: 0.8em; top: 4.5em;
        padding-left: 0;
        width: 90%;
    }
    .subTitulobanner{
        font-size: 1.2em;
        position: absolute; left: 0.6em; top: 11em;
        width: 97%;
        padding-right: 0;
    }
    .btnBanner {
        width: 9em;
        height: 2em;
        position: absolute; left: 1.55em; top: 16.5em;
        font-size: 1em;
        margin-top: 0em;
        margin-bottom: 0em; 
    }
    .circuloWhatsapp {
        position: sticky;
        top: 55%;
        left: 80%; 
    }
    .boxImgNosotros1 {
        padding-left: 2em !important;
        padding-right: 2em;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .boxImgNosotros2 {
        padding-left: 2em;
        padding-right: 2em;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 576.98px)  {
    .body {
        overflow: hidden !important;
    }
    .navbar{
        height: 4em;
    }
    .navbar-brand {
        margin-left: 0;
    }
    .banner2{
        display: block;
    }
    .banner{
        display: none;
    }
    .sloganBanner{
        font-weight: 600;
        font-size: 1.9em;
        position: absolute; left: 0.4em; top: 3em;
        z-index: 1;
        padding-left: 0;
        width: 90%;
    }
    .subTitulobanner{
        font-size: 1.1em;
        z-index: 1;
        position: absolute; left: 0.2em; top: 8.4em;
        width: 97%;
        padding-right: 0;
    }
    .btnBanner {
        width: 9em;
        height: 2em;
        position: absolute; left: 1.15em; top: 12.4em;
        align-self: center;
        font-size: 1em;
        margin-top: 0em;
        margin-bottom: 0em; 
    }
    .losMasVendidosMovil {
        display: block;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .boxCarrusel {
        display: none;
    }
    .losMasVendidos__titulo{ 
        font-size: 1.5em;
        padding-top: 1.5em;
        width: 85%;
    }
    .circulo {
        width: 8em;
        height: 8em;
        border-radius: 50%;
        background-color: rgb(248, 253, 252);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .circuloWhatsapp {
        width: 4em;
        height: 4em;
        position: sticky; top: 55%; left: 80%;
        margin: 0;
        padding: 0;
    }
    .iconoInformacion {
        width: 4em;
        height: 4em;
    }
    .itemCatalogoHome {
        margin-bottom: 3em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    .boxRedes {
        width: 100%;
    }
    .boxItemsRedes {
        padding-left: 2em;
        padding-right: 2em;
        
    }
    .boxRedes h6 {
        font-size: 1.8em;
        margin-top: 1.5em;
    }
    .boxRedes p {
        font-size: 1.5em;
        margin-top: 0.3em;
        margin-bottom: 0.6em;
    }
    .itemRedes {
        margin-top: 0.4em;
        padding-left: 0.2em;
        padding-right: 0.2em;

    }
    .navbar-collapse {
        background-color: #FBF6F2;
        width: 40%;
        z-index: 2;
    }
    /**nosotros  **/
    .row.filaSuperiorNosotros {
        --bs-gutter-x: 0rem;
    }
    .filaSuperiorNosotros {
        
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 3em;
        margin-bottom: 2em;
    }

    .boxTextoNos1{
        width: 100vw;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 2.5em;
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
    }
    .tituloNos {
        font-size: 1.5em;
        padding-top: 1em;
    }
    .card {
        display: flex;
    }
    .boxImgNosotros1 {
        padding-right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .boxImgNosotros2 {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .imgNosotros {
        width: 20em;
        display: flex;
        flex-direction: row;
    }
    .boxTextoNos2{
        padding-top: 2.5em;
        padding-left: 2em;
        padding-right: 2em;
        font-size: 1.1em;
    }
    .parrafoBoxTextoNos2{
        width: 100%;
        height: auto;
        padding-left: 0em;
        padding-right: 0em;
        padding-top: 1em;
    }
    .btnNosotros {
        width: 9em;
        height: 2em;
        font-size: 1em;
        margin-top: 2em;
        margin-bottom: 0.5em;
    }
    .btnNosotros2 {
        width: 9em;
        height: 2em;
        font-size: 1em;
        margin-top: 2em;
        margin-bottom: 0.5em;
    }
    .pruebaFlexbox {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    @media (max-width: 320px)  {
        .circuloWhatsapp {
            width: 4em;
            height: 4em;
            position: sticky; top: 55%; left: 76%;
            margin: 0;
            padding: 0;
        }
    }

}