/***PAGINA NOSOTROS  ***/
.btnNosotros{
    width: 10em;
    height: 2.4em;
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 1.125em;
    margin-top: 2em;
    margin-bottom: 2.3em;
    background-color: #FFF1C3;
    justify-content: center;
    align-items: center;
}

.filaSuperiorNosotros {
    display: flex;
    flex-direction: row;
    margin-top: 8em;
    margin-bottom: 5em;
}
.boxTextoNos1{
    padding-left: 6.88em;
    padding-right: 3em;
    font-size: 1.1em;
    & a {
        text-decoration: none;
    }
}
.tituloNos {
    font-size: 2.2em;
    font-weight: bold;
}
.filaSuperiorNosotros .col-6 {
    width: 50%;
}
.imgNosotros {
    /* width: 40em; */
    width: 100%;
}
.nosotrosNegrita {
    font-weight: bold;
}
.filaInferiorNosotros {
    display: flex;
    flex-direction: row;
    padding-bottom: 7.5em;
    padding-top: 4.1em;
    background-color:#FBF6F2;

}
.filaInferiorNosotros .col-6 {
    width: 50%;
}
.boxImgNosotros1 {
    padding-right: 6.88em;
    width: 50%;
}
.boxImgNosotros2 {
    padding-left: 6.88em;
    width: 50%;
}
.boxTextoNos2 {
    padding-right: 6.9em;
    padding-left: 6em;
    font-size: 1.1em;
    & a {
        text-decoration: none;
    }
}
.parrafoBoxTextoNos2{
    padding-top: 2.5em;
}
.btnNosotros2{
    width: 10em;
    height: 2.4em;
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 1.125em;
    background-color: #FFF1C3;
    justify-content: center;
    align-items: center;
    margin-top: 1.9em;
}
.pruebaFlexBox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
